body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
}

#images {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#images img {
    margin: 10px;
}

h1, h2, p {
    text-align: center;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff0;
    border-radius: 50%;
    animation: confetti 3s linear infinite;
}

@keyframes confetti {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(800px);
    }
}

.timer {
    border-style: solid;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}
